<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Email PDF</title>
    <style>
        body { font-family: Arial, sans-serif; }
    </style>
</head>
<body>
<h1>Email de l'utilisateur</h1>
<p>Email : {{ user.email }}</p>
</body>
</html>